<h1>All auto</h1>   
    <h3>@Model.CurrCategory</h3>

    <div class="row mt-5 md-2"> 
        @{
            foreach (var car in Model.AllCars) {              
                <div class="col-lg-4">

                    <img class ="img-thumbnail" src ="@car.Img" alt = "@car.Name" />

                    <h2>@car.Name</h2>

                    <p>@car.ShortDesc</p>

                    <p>Price: @car.Price.ToString("c")</p>

                    <p><a class ="btn btn-warning" href="#">More details</a></p>
                </div>
            }
        }
    </div>
        

 